body {
  background-color: #f5f5f5;
  font-size: 18px;
  overflow: hidden;
  height: 100%;
}

.flex {
  display: flex;
}

::placeholder {
  color: #c0c0c0;
}
  
.box-shadow {
  box-shadow: 2px 2px 4px 1px #888;
}

.form-ttl {
  color: #fff;
  background-color: #1A237E;
  padding: 20px;
  font-size: 20px;
  font-weight: normal;
  border-radius: 5px 5px 0 0;
  user-select: none;
}

.ttl {
  color: #1A237E;
  font-weight: bold;
  font-size: 30px;
}

.page-ttl {
  color: #1A237E;
  padding: 20px;
  font-size: 22px;
  user-select: none;
  text-align: center;
}

.form {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  border-radius: 6px;
}

.confirm-form {
  width: 700px;
}

.form-content,
.confirm-content,
.detail-tbl-wrap {
  padding: 20px;
  box-sizing: border-box;
}

.form-item {
  width: 100%;
  margin-bottom: 25px;
}

.form-item-lbl {
  display: block;
  align-items: center;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.required-label {
  border-radius: 6px;
  margin-left: 8px;
  padding: 7px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: tomato;
  color: #fff;
  font-size: 14px;
}

.legend-lbl {
  margin-bottom: 0;
  padding: 0 10px;
}

.form-item:last-child {
  margin-bottom: 0;
}

.form-item-name-wrap {
  width: 100%;
}

.form-item-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-btn-wrap {
  text-align: center;
  padding: 20px 0;
}

.form-confirm-btn-wrap {
  padding-top: 0;
}

.error {
  color: tomato;
  font-weight: bold;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.3;
}

.register-btn-wrap,
.list-btn-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.list-btn-wrap {
  margin-top: 30px;
}

.btn {
  color: #f5f5f5;
  background-color: #1A237E;
  border: none;
  padding: 5px 0;
  width: 150px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:disabled {
  background: #777;
}

.bk-btn {
  width: 120px;
  background-color: #7E57C2;
  margin-right: 30px;
}

.next-btn {
  width: 120px;
}

.register-btn,
.update-btn {
  width: 100px;
}

.input,
.name-input,
.select {
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 6px;
  padding: 0 10px;
  font-size: 18px;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
}

.name-input {
  width: 90%;
}

.fieldset {
  border: 1px solid #555;
  padding: 15px 10px 10px; 
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.legend {
  font-weight: bold;
}

.confirm-tbl,
.detail-tbl,
.visit-datetime-tbl {
  width: 100%;
}

.detail-tbl {
  table-layout: fixed;
}

.confirm-tbl th {
  text-align: left;
  height: 70px;
}

.login-form,
.forgot-password-form {
  background-color: #fff;
  width: 400px;
  margin: 50px auto 0;
  border-radius: 6px;
}

.login-form-content,
.forgot-password-form-content {
  padding: 30px 20px 20px;
}

.login-btn,
.send-mail-btn {
  width: 120px;
}

.msg-box {
  background-color: #fff;
  width: 700px;
  height: 400px;
  display: grid;
  place-items: center;
  margin: 0 auto;
  border-radius: 6px;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
}

.detail {
  display: flex;
}

.detail-tbl th,
.visit-datetime-tbl th {
  text-align: left;
  height: 50px;
  width: 30%;
}

.detail-tbl td,
.visit-datetime-tbl td {
  width: 70%;
}

.detail-menu {
  margin: 20px 0 0 50px;
}

/* 介護度 */
.care-level-wrap {
  margin-bottom: 20px
}

.care-level-lst {
  list-style: none;
  display: flex;
}

.radio-btn-lbl{
  display: inline-block;
  margin-right: 10px;
}